In [ ]:
#importando librerias que se piensan utilizar
import numpy as np
import pandas as pd
import seaborn as sns
import unidecode
import re

In [65]:
#Visualizar los primero prrimeros registros
df_properatti = pd.read_csv('properatti.csv')

In [66]:
#renombrado primer columana que no tiene nombre
df_properatti.rename(columns={'Unnamed: 0':'id'}, inplace=True)

In [67]:
#Me quedo con las operaciones de solo venta
df_properatti = df_properatti[df_properatti["operation"] == "sell"].copy()

In [68]:
#Elimino columnas irrelevantes
df_properatti_new = df_properatti.drop(["properati_url", "image_thumbnail","expenses","geonames_id"], axis=1)

In [69]:
#chequeo valores nulos
df_properatti.isnull().sum()

id                              0
operation                       0
property_type                   0
place_name                     23
place_with_parent_names         0
                            ...
expenses                   106958
properati_url                   0
description                     2
title                           0
image_thumbnail              3112
Length: 26, dtype: int64

In [70]:
#Genero un array con las series pais, el estado y el barrio, hago esto porque  place_with_parent_names no tiene valores nulos
ls = [i.split('|') for i in df_properatti_new['place_with_parent_names']]

In [71]:
# instancio 3 listas vacias para cada variable dentro de la lista de listas
country = []
state = []
neighbourhood = []

# recorro cada lista dentro de la lista grande e incorporo la variable correspondiente a la nueva lista vacía
for i in ls:
    country.append(i[1])
    state.append((i[2]))
    neighbourhood.append((i[3]))

In [72]:
# creo una nueva columna dentro del dataset con las nuevas variables (pais, estado y barrio)
df_properatti_new['country'] = country
df_properatti_new['state'] = state
df_properatti_new['neighbourhood'] = neighbourhood

In [73]:
#Vuevlo a borrar columnas irrelevantes
df_properatti_new = df_properatti_new.drop(["place_with_parent_names","place_name","state_name","country_name"], axis=1)

In [74]:
df_properatti_new.head()

,id,operation,property_type,lat-lon,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,description,title,country,state,neighbourhood
0,0,sell,PH,"-34.6618237,-58.5088387",-34.661824,-58.508839,62000.0,USD,1093959.0,62000.0,...,40.0,1127.272727,1550.000000,NaN,NaN,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,Argentina,Capital Federal,Mataderos
1,1,sell,apartment,"-34.9038831,-57.9643295",-34.903883,-57.964330,150000.0,USD,2646675.0,150000.0,...,NaN,NaN,NaN,NaN,NaN,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,Argentina,Bs.As. G.B.A. Zona Sur,La Plata
2,2,sell,apartment,"-34.6522615,-58.5229825",-34.652262,-58.522982,72000.0,USD,1270404.0,72000.0,...,55.0,1309.090909,1309.090909,NaN,NaN,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,Argentina,Capital Federal,Mataderos
3,3,sell,PH,"-34.6477969,-58.5164244",-34.647797,-58.516424,95000.0,USD,1676227.5,95000.0,...,NaN,NaN,NaN,NaN,NaN,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,Argentina,Capital Federal,Liniers
4,4,sell,apartment,"-38.0026256,-57.5494468",-38.002626,-57.549447,64000.0,USD,1129248.0,64000.0,...,35.0,1828.571429,1828.571429,NaN,NaN,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,Argentina,Buenos Aires Costa Atlántica,Mar del Plata

In [62]:
df_properatti_new.isnull().sum()

id                      0
operation               0
property_type           0
place_name             23
country_name            0
                    ...
expenses           106958
properati_url           0
description             2
title                   0
image_thumbnail      3112
Length: 25, dtype: int64

In [95]:
# To Pickle
#df_properatti.to_pickle('df.plk')
#pd.read_pickle('df.plk')

In [84]:
a = eval('{"type": "FeatureCollection", "features": [{"id": "0", "type": "Feature", "properties": {}, "geometry": {"type": "Point", "coordinates": [-58.43580948691157, -34.577526346867664]}, "bbox": [-58.43580948691157, -34.577526346867664, -58.43580948691157, -34.577526346867664]}], "bbox": [-58.43580948691157, -34.577526346867664, -58.43580948691157, -34.577526346867664]}')

In [91]:
b = eval('{"type": "FeatureCollection", "features": [{"id": "14313", "type": "Feature", "properties": {}, "geometry": {"type": "Point", "coordinates": [-34.589236, -58.59469]}, "bbox": [-34.589236, -58.59469, -34.589236, -58.59469]}], "bbox": [-34.589236, -58.59469, -34.589236, -58.59469]}' )

In [94]:
a['features']

[{'id': '0',
  'type': 'Feature',
  'properties': {},
  'geometry': {'type': 'Point',
   'coordinates': [-58.43580948691157, -34.577526346867664]},
  'bbox': [-58.43580948691157,
   -34.577526346867664,
   -58.43580948691157,
   -34.577526346867664]}]

In [93]:
b['features']

[{'id': '14313',
  'type': 'Feature',
  'properties': {},
  'geometry': {'type': 'Point', 'coordinates': [-34.589236, -58.59469]},
  'bbox': [-34.589236, -58.59469, -34.589236, -58.59469]}]